
@{
    ViewData["Title"] = "Form";
}

<h2>Form - Raise the balance</h2>

<form action="/raise" method="post">
    <label for="Animal">Animal</label>
    <input type="text" name="name" id="Animal"/>
    <button type="submit">Raise</button>
</form>

