
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Webshop</title>
    <link rel="stylesheet" href="~/styles.css" />
</head>
<body>
    <h1>My Shop</h1>

    <nav>
        <a href="https://localhost:44378/onlyavailable">ONLY AVAILABLE</a>
        <a href="https://localhost:44378/cheapestfirst">CHEAPEST FIRST</a>
        <a href="https://localhost:44378/containsnike">CONTAINS NIKE</a>
        <a href="https://localhost:44378/averagestock">AVERAGE STOCK</a>
        <a href="https://localhost:44378/mostexpensiveavailable">MOST EXPENSIVE AVAILABLE</a>
    </nav>
    <form action="/search" method="post">
        <div class="searchContainer">
            <label for="search">Search for: </label>
            <input type="text" id="search" name="search" placeholder="...something like nike" />
            <button>Search</button>
        </div>
    </form>

    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Description</td>
                <td>Price</td>
                <td>Quantity of stock</td>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in ViewBag.Items)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td class="priceAndQuantity">@item.Price Kč</td>
                    <td class="priceAndQuantity">@item.QuantityOfStock</td>
                </tr>
            }
        </tbody>
    </table>
    <h2>Hello World from the search</h2>

</body>
</html>

