
@{
    ViewData["Title"] = "Useful";
}

<h2>Useful - MAIN PAGE</h2>
<ul>
    <li>
        <a href="/useful/email?email=is@this.valid">GOOD - Example emails</a>
    </li>
    <li>
        <a href="/useful/email?email=isthisvalid">BAD - email without special symbols</a>
    </li>
    <li>
        <a href="#">content</a>
    </li>
</ul>


