body, html {
    max-width: 900px;
    margin: 20px auto;
    padding: 0;
    background: lightblue;
}

h1 {
    border-bottom: black solid 2px;
    margin-bottom: 30px;
    font-size: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

    nav a {
        background: red;
        text-decoration: none;
        color: white;
        padding: 10px;
        border-radius: 8px;
        font-size: 15px;
    }

.searchContainer label{
    font-size: 30px;
    font-weight:bold;
    color:red;

}

table {
    width: 100%;
    border: 2px solid black;
    font-weight:bold;
    font-family:Arial;
}

thead tr td {
    background: darkgrey;
    padding: 35px;
    margin: 0 20px;
    font-family:Arial;
    font-weight: bold;
    color:white;
    text-align:center;
}

tbody tr td{
    padding: 35px;
}

tbody tr:nth-child(even){
    background: lightgrey;
}

tbody tr:nth-child(odd) {
    background: white;
}

.priceAndQuantity {
    text-align: center;
    font-size:15px;
}
